[Unit]
Description=uWSGI instance to serve latest builds
After=network.target

[Service]
User=justin
Group=www-data
WorkingDirectory=/home/justin/thegrove
Environment="PATH=/home/justin/thegrove/env/bin"
ExecStart=/home/justin/thegrove/env/bin/uwsgi --ini project.ini

[Install]
WantedBy=multi-user.target
