<nav aria-label="...">
    <ul class="pager">

        {% if can_go_back %}
        <li class="previous"><a href="/pages/{{ page_number - 1 }}"><span>&larr;</span> Newer </a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer </a></li>
        {% endif %}

        {% if can_go_forward %}
        <li class="next"><a href="/pages/{{ page_number + 1 }}"><span>&rarr;</span> Older </a></li>
        {% else %}
        <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span> Older </a></li>
        {% endif %}

    </ul>
</nav>